:root {
  --angle: 0deg;
  --badge-height: 218px;
  --badge-width: 188px;
}

@media (width < 40rem /* 640px */) {
  :root {
    --angle: 0deg;
    --badge-height: 148px;
    --badge-width: 108px;
  }
}
/* neon effect */
@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes neon_effect {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

.badge_container {
  height: var(--badge-height);
  width: var(--badge-width);
}

/* Creating both, the "shadow" and the border using a coninc-gradient */
.badge_container::after,
.badge_container::before {
  animation: 5s neon_effect linear infinite;
  content: "";
  height: var(--badge-height);
  position: absolute;
  border-radius: var(--radius-md);
  width: var(--badge-width);
  z-index: 0;
}

/* The "mask" that will be in front of the conic gradient */
.badge_inside {
  height: calc(var(--badge-height) - 5px);
  width: calc(var(--badge-width) - 5px);
  transition: all 0.3s ease-in-out;
}

/* Without the filter we won't have the "neon" effect, jut the border. 
The blur will create the shadow behind the card*/
.badge_container::before {
  filter: blur(5px);
}

/* Creating the effect for evey single badge type based on the skill */
.htmllogo::before,
.htmllogo::after {
  background-image: conic-gradient(
    from var(--angle),
    #ff3902,
    #faab95,
    #fa7049,
    #ff3902
  );
}

.jslogo::before,
.jslogo::after {
  background-image: conic-gradient(
    from var(--angle),
    #ffe600,
    #fffacf,
    #efe376,
    #ffe600
  );
}
.tslogo::before,
.tslogo::after {
  background-image: conic-gradient(
    from var(--angle),
    #2e78c7,
    #aeb6e2,
    #7b96d5,
    #2e78c7
  );
}

.csslogo::before,
.csslogo::after {
  background-image: conic-gradient(
    from var(--angle),
    #214ce4,
    #92b0f0,
    #6080c7,
    #214ce4
  );
}

.tailwindlogo::before,
.tailwindlogo::after,
.reactlogo::before,
.reactlogo::after {
  background-image: conic-gradient(
    from var(--angle),
    #35bef8,
    #ccd3f7,
    #92d1ec,
    #35bef8
  );
}

.clogo::before,
.clogo::after {
  background-image: conic-gradient(
    from var(--angle),
    #98c9fa,
    #1f679d,
    #1a5389,
    #98c9fa
  );
}

.gitlogo::before,
.gitlogo::after {
  background-image: conic-gradient(
    from var(--angle),
    #ff3902,
    #faab95,
    #fa7049,
    #ff3902
  );
}
