:root {
  --myName-after-box: 0px 0px 5px #32dfb1;
  --myName-after-w: 100%;
}

.myName,
.fixedGlowing {
  display: flex;
  flex-direction: column;
  width: fit-content;
}
.myName::after,
.fixedGlowing::after {
  content: "";
  border-radius: 20px;
  background-color: #00bd06;
  height: 2px;
  transition: all 0.3s ease-in-out;
  width: 0%;
}

.myName::after {
  box-shadow: var(--myName-after-box);
  width: var(--myName-after-w);
}

.fixedGlowing::after {
  box-shadow: 0px 0px 5px #32dfb1;
  width: 100%;
}

.activeDot {
  background-color: #00bd06;
  box-shadow: 0px 0px 5px #32dfb1;
}
